{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{judul}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
               
                <form method="post">
                    {% csrf_token %}
                   
                    <div class="form-group">
                        <label for="nama_produk">Nama Kategori</label>
                        <input type="text" class="form-control" id="nama" name="nama" required>
                    </div>
                  
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                        <a href="{% url 'kategoriadmin' %}" class="btn btn-danger"><i class="fa fa-backward"></i> Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  
</div>
{% endblock content %}