{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penjualan per Produk per Bulan</title>
</head>
<body>
    <h1>Penjualan per Produk per Bulan</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Bulan</th>
                {% for bulan in bulan_list %}
                <th>{{ bulan }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for produk, jumlah_list in data.items %}
            <tr>
                <td>{{ produk }}</td>
                {% for jumlah in jumlah_list %}
                <td>{{ jumlah }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


{% endblock %}